.game-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .titulo-game {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.1;
  }
  .conteudo-game {
    flex: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
