.titulo-page-container {
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #ffedba;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.children-content {
  display: flex;
  flex: 1;
}
