@primary-color: #007462;
@secondary-color: #f08827;
@primary-color-shade: lighten(@primary-color, 47%);
@success-color: #6dc44a;
@info-color: #02b1f7;
@default-color: #bbbbbb;
@warning-color: #ead831;
@danger-color: #ff8486;
@text-color-light: lightslategrey;
