@import "~styles/variables.less";
.boas-vindas-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .conteudo-bem-vindo {
    width: fit-content;
    padding: 32px;
    min-height: 250px;
    height: fit-content;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
}
