@import "~styles/variables.less";
.instrucoes-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .titulo-instrucoes {
    font-size: 50px;
    text-shadow: 3px 3px @secondary-color;
    color: #fff;
    text-align: center;

    @media screen and (max-width: 800px) {
      font-size: 40px;
    }
    @media screen and (max-width: 640px) {
      font-size: 35px;
      text-shadow: 3px 3px @primary-color;
    }
    @media screen and (max-width: 600px) {
      font-size: 30px;
    }
    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
    @media screen and (max-width: 380px) {
      font-size: 20px;
    }
    @media screen and (max-width: 310px) {
      font-size: 15px;
    }
  }

  .conteudo-instrucoes {
    margin: 0px 200px;
    flex-direction: column;
    text-shadow: 3px 3px @secondary-color;
    color: #fff;
    padding: 32px;
    height: fit-content;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
}
